<h1>Insert new password</h1>
<form action="" method="POST">
  {% csrf_token %}
  <label for="password1">Password</label>
  <br />
  <input
    type="password"
    name="new_password1"
    placeholder="Password"
    id="password1"
    required
  />
  <br /><br />
  <label for="password2">Confirm Password</label>
  <br />
  <input
    type="password"
    name="new_password2"
    placeholder="Confirm Password"
    id="password2"
    required
  />
  <br />
  <br />
  <input type="submit" />
</form>
<script></script>
